.sidebar {
  height: 100%;
  height: calc(100% - 51px);
  position: absolute;
  top: 51px;
  bottom: 0;
  right: 0;
  padding: 0px 0 0 0;
  margin: 0;
  background-color: #353535;
  overflow: auto;
}

#tab-container {
  background-color: #353535;
  height: 100%;
  height: calc(100% - 51px);
  position: absolute;
  top: 51px;
  bottom: 0;
  right: 0;
  padding: 0px;
  margin: 0;
  overflow: auto;
}

#tab-container li {
}

#tab-container li>a {
  border-bottom-color: #222;
  color: #999;
}

#tab-container li:hover>a {
  background-color: #676767;
  border-color: #999;
}

#tab-container li.active {
  
}

#tab-container li.active>a {
  background-color: #555;
  color: #AAA;
  border-color: #999;
  border-bottom-color: #555;
}

.tab-pane {
  padding: 5px;
}

.sidebar iframe {
  border: none;
  width: 100%;
  height: 54%;
}

.youtube-search {
  margin: 0;
  overflow: auto;
}

.search-hide {
  display: none;
}

.info-text {
  display: none;  
}
#video-list td {
  vertical-align: middle;
  align: center;
}

.video-wrapper {
  position: relative;
  display: none;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-thumbnail {
  width: 30%;
  padding: 5px 0 5px 10px;
  cursor: pointer;
}

.video-thumbnail img {
  width: 100%;
}

.xs.video-title {
  padding: 5px;
}

.video-info {
  padding: 0 10px;
  cursor: pointer;
}

.btn-play {
  margin: 5px 5px 5px 0;
}

.preview {
  width: 66px;
}

.preview audio {
  width: 100%;
}

#tab-container .table {
  color: #FEFEFE;
}

#tab-container .table tr td{
  border-color: #777;
}

#tab-container .table tr:nth-child(even) {
  background-color: #404040;
}

#tab-container .table tr:nth-child(odd) {
  background-color: #484848;
}

#tab-container .table th{
  background-color: #4F4F4F;
}

#tab-container .table a {
  color: #FFBF00;
}

#spotify .preview {
}

.glyphicon-spotify {
  width: 24px;
  height: 24px;
  background-image: url(../img/spotify-black-128.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-spotify {
  background-color: #81b71a;
  padding: 2px;
  width: 100%;
}

.btn-spotify:hover .glyphicon-spotify{
  background-image: url(../img/spotify-white-128.png);
}

.btn-spotify:hover {
  background-color: #32B71A;
}

#tab-container .table tr:hover {
  background-color: #555;
}

#tab-container .table td {
  vertical-align: middle;
}
