.sidebar {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 51px 0 0 0;
  margin: 0;
  background-color: #353535;
  margin: 0px;
}

.sidebar iframe {
  border: none;
  width: 100%;
}

#video-list {
  width: 100%;
  color: #BABABA;
  margin: 0px;
}

.youtube-search {
  margin: 0;
}
